<!-- /templates/template-sidebar.html -->
<div class="template-sidebar" id="template-sidebar">
    <div class="template-header">
        <h4>Chat Templates</h4>
        <button class="close-template-button"><i class="fas fa-times"></i></button>
    </div>
    <ul class="template-list">
        <li>Template 1: Hello, how can I help you today?</li>
        <li>Template 2: Thank you for your message. We will get back to you shortly.</li>
        <li>Template 3: Please provide more details about your issue.</li>
        <!-- Add more templates as needed -->
    </ul>
    <!-- Create New Template Button -->
    <button class="create-template-button">Create New Template</button>
</div>