<!-- /templates/vertical-panel.html -->
<div class="vertical-panel">
    <!-- Top icons -->
    <div class="icon-group">
        <div class="icon" data-tooltip="Chat"><i class="fas fa-comments"></i></div>
        <div class="icon" data-tooltip="Chat Folder"><i class="fas fa-folder-open"></i></div>
        <div class="icon" data-tooltip="Messages"><i class="fas fa-comments"></i></div>
        <div class="icon" data-tooltip="Contacts"><i class="fas fa-users"></i></div>
    </div>

    <!-- Bottom icons -->
    <div class="bottom-icons">
        <div class="settings-icon icon" data-tooltip="Settings"><i class="fas fa-cog"></i></div>
        <div class="profile-icon icon" data-tooltip="Profile"><img src="https://ui-avatars.com/api/?rounded=true&name=Michael&background=3b4a54&color=d1d7db" alt="Profile" /></div>
    </div>
</div>